body {
    background-color: #9bd3f9;
    color: #fefefe;
 }

 body.login {

    font-family: arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    
 }

 .login-card {
    background: #fefefe;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
 }

 .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.button{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
 

